

/* Sizing for the whole four step selections */
#three-steps-curtain-selections{font-family: 'roboto';width:700px;}

    /* Global CSS for all curtain selections */
    /*****************************************/
    /* Header for all 3 steps */
    /*header.curtain-selection-headers{background-color: lightgray;}*/
    /*.step-arrows{font-size:24px; color: #404040; font-weight: 400; line-height: 134%; width: 100px;}*/
    /*.step-headers{font-size:24px; color: #FFF; font-weight: 300; line-height: 134%;}*/
    .curtain-selection-headers {background-color: black; position: relative; white-space: nowrap;}
    .step-arrows {font-size:24px; color: #404040; font-weight: 400; line-height: 134%; width: 30%; background-color: yellow; text-align: center;}
    .step-arrows::after {content: ""; border-top: 16px solid transparent; border-bottom: 18px solid transparent; border-left: 26px solid yellow; position: absolute; left: 30%;}
    .step-headers {font-size:24px; color: #FFF; font-weight: 300; line-height: 134%; position: absolute; left: 35%; top: 0;}
    div.clearWmarginForSteps {clear:both; margin-bottom: 50px;}
    div.clear{clear:both;}

    .sideABCD-header {font-size: 15px; color: #636363; line-height: 134%; font-weight: 400; margin:0;}

    /* Help Section for all */
    .help-header{float: left;}
    .help{float: right;}
    .help-notes{clear: both; font-size: 12px; color: #7676A9; line-height: 150%; border: 1px solid blue; border-radius: 5px; background-color: #EEECFF; padding: 10px; margin-bottom: 20px;}

        /*Css for all step 1 - curtain selection*/
        /*article#step1{height: 370px;}*/
        .step1-selections{font-size:16px; color: #636363; font-weight: 500; line-height: 132%;}
        .single-side, .two-sided, .three-sided, .four-sided{float: left;}

        /*Css for all step 2 - enter  dimensions & colors  */
        .dimensions-side-a, .dimensions-side-b, .dimensions-side-c, .dimensions-side-d{float: left; width:165px; border-right: 1px dashed lightgray;}
        .dimensions-side-b, .dimensions-side-c, .dimensions-side-d{padding-left: 10px;}
        .dimensions-side-d{border-right: 0;}
        .dimension-WHC{font-size: 14px; color: #A9A6A6; font-weight: 300; line-height: 136%; margin: 0;}
        /*Only for dimensions*/
        div.dimension-width, div.dimension-height{float: left; font-size: 15px;}
        span.foot-inches{font-size: 21px; font-weight: 500;}
        input.dimension-input{font-size: 16px; color: #636363; line-height: 132%; font-weight: 300; width: 20px; background: #EAEAEA; border-radius: 5px; border: 0;}
        /*Only for colors*/
        .number-of-colors{width: 150px;}

        /*Css for all step 3 - Choose a Track & Trolley Kit*/
        .mount-image{width: 100%;}