/* --[[ Main Expand Icons ]]-- */
	#imenus0 .imeam span,#imenus0 .imeamj span {width:7px; height:5px; left:-7px; top:5px; background-repeat:no-repeat;background-position:top left;}
	#imenus0 li:hover .imeam span,#imenus0 li a.iactive .imeamj span {background-repeat:no-repeat;background-position:top left;}


	/* --[[ Sub Expand Icons ]]-- */
	#imenus0 ul .imeas span,#imenus0 ul .imeasj span {width:5px; height:7px; left:-5px; top:3px; background-repeat:no-repeat;background-position:top left;}
	#imenus0 ul li:hover .imeas span,#imenus0 ul li a.iactive .imeasj span {background-repeat:no-repeat;background-position:top left;}


	/* --[[ Main Container ]]-- */
	#imouter0 {border-style:none; border-color:#6a6a6a; border-width:0px; padding:0px; margin:0px; }


	/* --[[ Sub Container ]]-- */
	#imenus0 li ul {background-color:#ffffff; border-style:solid; border-color:#cccccc; border-width:1px; padding:0px; margin:0px; }


	/* --[[ Main Items ]]-- */
	#imenus0 li a, #imenus0 .imctitle {height:20px; color:#fff; text-align:center; font-family:Arial; font-size:11px; font-weight:bolder; text-decoration:none; border-style:none; border-color:#dddddd; padding:9px 5px 0px 5px ; margin:0px; }

		/* [hover] - These settings must be duplicated for IE compatibility.*/
		#imenus0 li:hover>a {background-color:#170560; color:#ffffff; text-decoration:none; }
		#imenus0 li a.ihover, .imde imenus0 a:hover {background-color:#170560; color:#ffffff; text-decoration:none; }

		/* [active] */
		#imenus0 li a.iactive {}


	/* --[[ Sub Items ]]-- */
	#imenus0 ul a, #imenus0 .imsubc li .imctitle  {height:auto; color:#4f4f4f; text-align:left; font-size:11px; font-weight:bold; text-decoration:none; border-style:none; border-color:#000000; border-width:1px; padding:7px 5px 7px 15px ; margin:0px; }

		/* [hover] - These settings must be duplicated for IE comptatibility.*/
		#imenus0 ul li:hover>a {background-color:#ff8000; color:#ffffff; text-decoration:none; }
		#imenus0 ul li a.ihover {background-color:#ff8000; color:#ffffff; text-decoration:none; }

		/* [active] */
		#imenus0 ul li a.iactive {}